.set-table{
    margin: 10px;
}

.setgame-header{
    width: 100;
    margin: 0;
}

.set-table-body-headers{
    background-color: lightgray;
    width: min-content;
    font-size: small;
}

.set-table-player-name{
    width: min-content;
    font-size: small;
}

.set-table-body-neg{
    background-color: yellow;
}

.set-btn-stat-container{
    flex-direction: row;
    height: 100%;
}

.set-btn{
    flex-grow: 1;
    background: none;
    border: none;
    font-size: small;
    font-weight: 700;
    color: black;
    margin: 0px;
    padding: 0px 5px;
}

.set-btn:hover{
    background: rgb(255, 53, 53);
}

.set-stat{
    font-size: small;
    padding: 5px;
}

.set-table{
    margin-top: 0;
    border-collapse: collapse;
}

.set-table td{
    border: .5px black solid;
    padding: -10px 5px;
}

.set-display-main{
    display: flex;
}

.set-display-container{
    display: flex;
    flex-direction: row;
}